<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/4.1.2/css/foundation.css" crossorigin="anonymous">

  </head>
  <body>
  
  <div id="app">
  <input v-model="mida_icona">
  <input v-model="titol">
  <textarea v-model="contingut"></textarea>
  
    <div class="row">
    <div class="columns small-12 large-3">
       <img :src="imgSrc"/>
    </div>
    <div class="columns small-12 large-9">
       <h3>{{titol}}</h3>
       <p>{{contingut}}</p>
    </div>
    </div>
    <strong>Contingut html</strong>
    <textarea id="ta1"  rows="20">
    <div class="row">
    <div class="columns small-12 large-3">
    <img src="https://img.icons8.com/emoji/{{mida_icona}}/000000/warning-emoji.png" />
    </div>
    <div class="columns small-12 large-9">
    <h3>{{titol}}</h3>
    <p>{{contingut}}</p>
    </div>
    </div>
    </textarea>
    
    <button onclick="copy1()">Copy text</button>
</div>
  </body>
</html>
<script>

function copy1() {
  /* Get the text field */
  var copyText = document.getElementById("ta1");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copiat! Enganxa'l a la pestanya 'text' del teu article o pàgina NODES");
}

</script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script>
var app = new Vue({
  el: '#app',
  data: {
    mida_icona: 120,
    imgSrc: "https://img.icons8.com/emoji/120/000000/warning-emoji.png",
    titol: 'Hello Títol!',
    contingut: 'Contingut!'
  }
})
</script>
