

.main {
    margin-top: 1.2em;
}
.customizer {
    background-color: #f2f2f2;
}

#radioGroup {
    margin-bottom: 1em;
}

#radioGroup .wrap {
    display: inline-block;
}

#radioGroup label {
    display: block;
    text-align: center;
    margin: 0 0.2em;
}

#radioGroup input[type="radio"] {
    display: block;
    margin: 0.5em auto;
}

.div-nt {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
}

.input-nt-mida {
    font-size: 1em;
    width: 50px;
}

.input-nt-full {
    font-size: 1em;
    width: 100%;
}

.ta-contingut {
    width: 100%;
    height: 150px;
}

.ta-html {
    width: 100%;
    height: 150px;
    color: #a3a3a3;
}

.top-bar, .top-bar ul {
    background-color: #000000;
}

.menu-text{
    color:white !important;
}

.top-bar a{
    color:white !important;
}

.cel-la {
    min-width:18em;
    min-height:5em;
    margin-left:0.2em;
}
div.color{
    width:2em;
    height:2em;
    float: left;
}

.icons {
    padding: 5px;
    width: 300px;
}

.icons ul {
      list-style-type: none;
      padding: 5px;
      margin: -1px 0 0;
      display: none;
      border: 1px solid #000;
    }
.icons li {
      display: inline-block;
    }
    
.icons     a {
      display: inline-block;
      overflow: hidden;
      text-decoration: none;
      border: 1px solid;
      padding: 5px;
      color: #777;
      position: relative;

      &.open {
        border-bottom-color: #fff;
        color: #000;
      } 

      .icons .arr {
        float: right;
      }
    }
    .visuallyhidden {
      display: none;
    }
    label {
      display: inline-block;
      padding: 4px;
      cursor: pointer;
      color: #777;
      border: 1px solid transparent;
      &:hover {
        color: #000;
      }
    }
    :checked + label {
       color: #000;
       border-color: #000;
     }
  }
  