<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5VKX674L4L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-5VKX674L4L');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eines Nodes</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
        integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link rel='stylesheet' href='styles.css' type='text/css' media='all' />

    <style>
        #preview .grid-x div {
            padding: 0.3em;
        }

        .button {
            margin: 0.1;
        }
    </style>


    <script src="utils.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

</head>

<body>

    <div id="app">

        <div class="title-bar" data-responsive-toggle="top-menu">
            <ul class="menu">
                <li class="menu-text">
                    <img class="logo" src="images/nodes_small.png"> Caixa d'eines
                </li>
            </ul>
            <button class="menu-icon" type="button" data-toggle></button>
        </div>
        <div class="top-bar" id="top-menu">
            <div class="top-bar-left">
                <ul class="dropdown vertical medium-horizontal menu">
                    <li><img class="logo hide-for-small-only" src="images/nodes_small.png"></li>
                    <li class="menu-text app-name-large  hide-for-small-only">Caixa d'eines</li>
                    <li><a href="index.html">Inici</a></li>
                    <li><a href="banner.html">Anuncis i avisos</a></li>
                    <li><a href="simple-button.html">Botó</a></li>
                    <li class="active"><a href="tables.html">Taules adaptatives</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="dropdown vertical medium-horizontal menu">
                    <li><a target="_blank" href="https://agora.xtec.cat/nodes">Sobre NODES</a></li>
                </ul>
            </div>
        </div>


        <div class="main grid-x grid-margin-x grid-padding-x">
            <div class="cell medium-4 large-4">

                <div class="card">
                    <div class="card-divider">
                        <h5><img src="images/1.png" /> Codi HTML de la taula</h5>
                    </div>

                    <div class="card-section ">
                        <p>Crea una taula dins d'un article o pàgina NODES, canvia a la pestanya "text" i copia el
                            contingut des de <code>&#60;table></code>
                            fins a <code>&#60/table></code>. Enganxa el codi copiat aquí:</p>

                        <textarea class="ta-html" id="taula_html" name="taula_html" v-model="taula_html">
                        </textarea>

                        <p>O carrega algun dels exemples:</p>

                        <select v-model="taula_exemple" @change="select_taula_ex($event)">
                            <option value="ex_tbl_13">1x3</option>
                            <option value="ex_tbl_22">2x2</option>
                            <option value="ex_tbl_33">3x3</option>
                            <option value="ex_tbl_33_img">Imatges (3x3)</option>
                            <option value="ex_tbl_13_img_link">Imatges amb enllaç (1x3)</option>
                            <option value="ex_tbl_23_img_link">Imatges amb enllaç (2x3)</option>
                            <option value="ex_tbl_33_img_link">Imatges amb enllaç (3x3)</option>
                            <option value="ex_tbl_13_img_link_title">Imatges amb enllaç i títol (1x3)</option>
                            <option value="ex_tbl_23_img_link_title">Imatges amb enllaç i títol (2x3)</option>
                            <option value="ex_tbl_33_img_link_title">Imatges amb enllaç i títol (3x3)</option>
                            <option value="ex_tbl_13_img_link_title_desc">Imatges amb enllaç, títol i descripció (1x3)
                            </option>
                            <option value="ex_tbl_23_img_link_title_desc">Imatges amb enllaç, títol i descripció (2x3)
                            </option>
                            <option value="ex_tbl_33_img_link_title_desc">Imatges amb enllaç, títol i descripció (3x3)
                            </option>
                        </select>

                        <input id="ck_centered" type="checkbox" v-model="centered"><label for="ck_centered">Contingut
                            centrat</label>

                        <button class="button primary " v-on:click="clean">Neteja</button>

                    </div> <!-- End Card Section-->
                </div>
            </div>

            <div class="cell medium-8 large-8">
                <div class="card" id="preview">
                    <div class="card-divider">
                        <h5><img src="images/2.png" /> Previsualització </h5>
                    </div>

                    <div class="card-section">
                        <span v-html=codi_html_f6></span>
                    </div>
                </div>

                <div class="card">
                    <div class="card-divider">
                        <h5><img src="images/3.png" /> Codi HTML </h5>
                    </div>
                    <div class="card-section">
                        <div class="grid-x">
                            <div class="columns cell small-12 large-12">
                                <textarea class="ta-html" id="codi-html" v-model="codi_html">
                                </textarea>
                                <button class="button primary" onclick="copyCode()">Copia Codi HTML</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
        integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $(document).foundation();
        });
    </script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                taula_html: '',
                taula_exemple: '33',
                centered: true,
                border: false,
                exemples: {
                    ex_tbl_13: '\<table style="width: 141px;">\
<tbody>\n\
<tr>\n\
<td>Contingut Fila 1, Columna 1</td>\n\
<td>Contingut Fila 1, Columna 2</td>\n\
<td>Contingut Fila 1, Columna 3</td>\n\
</tr>\n\
</tbody>\n\
</table>',
                    ex_tbl_22: '\<table style="width: 141px;">\
<tbody>\n\
<tr>\n\
<td>Contingut Fila 1, Columna 1</td>\n\
<td>Contingut Fila 1, Columna 2</td>\n\
</tr>\n\
<tr>\n\
<td>Contingut Fila 2, Columna 1</td>\n\
<td>Contingut Fila 2, Columna 2</td>\n\
</tr>\n\
</tbody>\n\
</table>',

                    ex_tbl_33: '\<table style="width: 141px;">\
<tbody>\n\
<tr>\n\
<td>Contingut Fila 1, Columna 1</td>\n\
<td>Contingut Fila 1, Columna 2</td>\n\
<td>Contingut Fila 1, Columna 3</td>\n\
</tr>\n\
<tr>\n\
<td>Contingut Fila 2, Columna 1</td>\n\
<td>Contingut Fila 2, Columna 2</td>\n\
<td>Contingut Fila 2, Columna 3</td>\n\
</tr>\n\
<tr>\n\
<td>Contingut Fila 3, Columna 1</td>\n\
<td>Contingut Fila 3, Columna 2</td>\n\
<td>Contingut Fila 3, Columna 3</td>\n\
</tr>\n\
</tbody>\n\
</table>',

                    ex_tbl_33_img: '\<table style="width: 141px;">\
<tbody>\n\
<tr>\n\
<td><img src="https://img.icons8.com/color/120/000000/expired.png"></td>\n\
<td><img src="https://img.icons8.com/color/120/000000/leave.png"></td>\n\
<td><img src="https://img.icons8.com/color/120/000000/task.png"></td>\n\
</tr>\n\
<tr>\n\
<td><img src="https://img.icons8.com/color/120/000000/request-service.png"></td>\n\
<td><img src="https://img.icons8.com/color/120/000000/communication.png"></td>\n\
<td><img src="https://img.icons8.com/color/120/000000/documents.png"></td>\n\
</tr>\n\
<tr>\n\
<td><img src="https://img.icons8.com/color/120/000000/planner.png"></td>\n\
<td><img src="https://img.icons8.com/color/120/000000/collaboration-female-male.png"></td>\n\
<td><img src="https://img.icons8.com/color/120/000000/high-priority.png"></td>\n\
</tr>\n\
</tbody>\n\
</table>',

                    ex_tbl_13_img_link: '\<table style="width: 141px;">\
<tbody>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/1-no-poverty"><img src="https://img.icons8.com/color/120/000000/expired.png"></a></td>\n\
<td><a href="http://www.globalgoals.org/2-zero-hunger"><img src="https://img.icons8.com/color/120/000000/leave.png"></a></td>\n\
<td><a href="http://www.globalgoals.org/3-good-health-and-well-being"><img src="https://img.icons8.com/color/120/000000/task.png"></a></td>\n\
</tr>\n\
</tbody>\n\
</table>',

                    ex_tbl_23_img_link: '\<table style="width: 141px;">\
<tbody>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/1-no-poverty"><img src="https://img.icons8.com/color/120/000000/expired.png"></a></td>\n\
<td><a href="http://www.globalgoals.org/2-zero-hunger"><img src="https://img.icons8.com/color/120/000000/leave.png"></a></td>\n\
<td><a href="http://www.globalgoals.org/3-good-health-and-well-being"><img src="https://img.icons8.com/color/120/000000/task.png"></a></td>\n\
</tr>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/4-quality-education"><img src="https://img.icons8.com/color/120/000000/request-service.png"></a></td>\n\
<td><a href="http://www.globalgoals.org/5-gender-equality"><img src="https://img.icons8.com/color/120/000000/communication.png"></a></td>\n\
<td><a href="http://www.globalgoals.org/6-clean-water-and-sanitation"><img src="https://img.icons8.com/color/120/000000/documents.png"></a></td>\n\
</tr>\n\
</tbody>\n\
</table>',

                    ex_tbl_33_img_link: '\<table style="width: 141px;">\
<tbody>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/1-no-poverty"><img src="https://img.icons8.com/color/120/000000/expired.png"></a></td>\n\
<td><a href="http://www.globalgoals.org/2-zero-hunger"><img src="https://img.icons8.com/color/120/000000/leave.png"></a></td>\n\
<td><a href="http://www.globalgoals.org/3-good-health-and-well-being"><img src="https://img.icons8.com/color/120/000000/task.png"></a></td>\n\
</tr>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/4-quality-education"><img src="https://img.icons8.com/color/120/000000/request-service.png"></a></td>\n\
<td><a href="http://www.globalgoals.org/5-gender-equality"><img src="https://img.icons8.com/color/120/000000/communication.png"></a></td>\n\
<td><a href="http://www.globalgoals.org/6-clean-water-and-sanitation"><img src="https://img.icons8.com/color/120/000000/documents.png"></a></td>\n\
</tr>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/7-affordable-and-clean-energy"><img src="https://img.icons8.com/color/120/000000/planner.png"></a></td>\n\
<td><a href="http://www.globalgoals.org/8-decent-work-and-economic-growth"><img src="https://img.icons8.com/color/120/000000/collaboration-female-male.png"></a></td>\n\
<td><a href="http://www.globalgoals.org/9-industry-innovation-and-infrastructure"><img src="https://img.icons8.com/color/120/000000/high-priority.png"></a></td>\n\
</tr>\n\
</tbody>\n\
</table>',

                    ex_tbl_13_img_link_title: '\<table style="width: 141px;">\
<tbody>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/1-no-poverty"><img src="https://img.icons8.com/color/120/000000/expired.png"><h5>Títol 11</h5></a></td>\n\
<td><a href="http://www.globalgoals.org/2-zero-hunger"><img src="https://img.icons8.com/color/120/000000/leave.png"><h5>Títol 12</h5></a></td>\n\
<td><a href="http://www.globalgoals.org/3-good-health-and-well-being"><img src="https://img.icons8.com/color/120/000000/task.png"><h5>Títol 13</h5></a></td>\n\
</tr>\n\
</tbody>\n\
</table>',

                    ex_tbl_23_img_link_title: '\<table style="width: 141px;">\
<tbody>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/1-no-poverty"><img src="https://img.icons8.com/color/120/000000/expired.png"><h5>Títol 11</h5></a></td>\n\
<td><a href="http://www.globalgoals.org/2-zero-hunger"><img src="https://img.icons8.com/color/120/000000/leave.png"><h5>Títol 12</h5></a></td>\n\
<td><a href="http://www.globalgoals.org/3-good-health-and-well-being"><img src="https://img.icons8.com/color/120/000000/task.png"><h5>Títol 13</h5></a></td>\n\
</tr>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/4-quality-education"><img src="https://img.icons8.com/color/120/000000/request-service.png"><h5>Títol 21</h5></a></td>\n\
<td><a href="http://www.globalgoals.org/5-gender-equality"><img src="https://img.icons8.com/color/120/000000/communication.png"><h5>Títol 22</h5></a></td>\n\
<td><a href="http://www.globalgoals.org/6-clean-water-and-sanitation"><img src="https://img.icons8.com/color/120/000000/documents.png"><h5>Títol 23</h5></a></td>\n\
</tr>\n\
</tbody>\n\
</table>',

                    ex_tbl_33_img_link_title: '\<table style="width: 141px;">\
<tbody>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/1-no-poverty"><img src="https://img.icons8.com/color/120/000000/expired.png"><h5>Títol 11</h5></a></td>\n\
<td><a href="http://www.globalgoals.org/2-zero-hunger"><img src="https://img.icons8.com/color/120/000000/leave.png"><h5>Títol 12</h5></a></td>\n\
<td><a href="http://www.globalgoals.org/3-good-health-and-well-being"><img src="https://img.icons8.com/color/120/000000/task.png"><h5>Títol 13</h5></a></td>\n\
</tr>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/4-quality-education"><img src="https://img.icons8.com/color/120/000000/request-service.png"></a><h5>Títol 21</h5></td>\n\
<td><a href="http://www.globalgoals.org/5-gender-equality"><img src="https://img.icons8.com/color/120/000000/communication.png"><h5>Títol 22</h5></a></td>\n\
<td><a href="http://www.globalgoals.org/6-clean-water-and-sanitation"><img src="https://img.icons8.com/color/120/000000/documents.png"><h5>Títol 23</h5></a></td>\n\
</tr>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/7-affordable-and-clean-energy"><img src="https://img.icons8.com/color/120/000000/planner.png"><h5>Títol 31</h5></a></td>\n\
<td><a href="http://www.globalgoals.org/8-decent-work-and-economic-growth"><img src="https://img.icons8.com/color/120/000000/collaboration-female-male.png"></a><h5>Títol 32</h5></td>\n\
<td><a href="http://www.globalgoals.org/9-industry-innovation-and-infrastructure"><img src="https://img.icons8.com/color/120/000000/high-priority.png"><h5>Títol 33</h5></a></td>\n\
</tr>\n\
</tbody>\n\
</table>',

                    ex_tbl_13_img_link_title_desc: '\<table style="width: 141px;">\
<tbody>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/1-no-poverty"><img src="https://img.icons8.com/color/120/000000/expired.png"><h5>Títol 11</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
<td><a href="http://www.globalgoals.org/2-zero-hunger"><img src="https://img.icons8.com/color/120/000000/leave.png"><h5>Títol 12</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
<td><a href="http://www.globalgoals.org/3-good-health-and-well-being"><img src="https://img.icons8.com/color/120/000000/task.png"><h5>Títol 13</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
</tr>\n\
</tbody>\n\
</table>',


                    ex_tbl_23_img_link_title_desc: '\<table style="width: 141px;">\
<tbody>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/1-no-poverty"><img src="https://img.icons8.com/color/120/000000/expired.png"><h5>Títol 11</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
<td><a href="http://www.globalgoals.org/2-zero-hunger"><img src="https://img.icons8.com/color/120/000000/leave.png"><h5>Títol 12</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
<td><a href="http://www.globalgoals.org/3-good-health-and-well-being"><img src="https://img.icons8.com/color/120/000000/task.png"><h5>Títol 13</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
</tr>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/4-quality-education"><img src="https://img.icons8.com/color/120/000000/request-service.png"><h5>Títol 21</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
<td><a href="http://www.globalgoals.org/5-gender-equality"><img src="https://img.icons8.com/color/120/000000/communication.png"><h5>Títol 22</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
<td><a href="http://www.globalgoals.org/6-clean-water-and-sanitation"><img src="https://img.icons8.com/color/120/000000/documents.png"><h5>Títol 23</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
</tr>\n\
</tbody>\n\
</table>',

                    ex_tbl_33_img_link_title_desc: '\<table style="width: 141px;">\
<tbody>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/1-no-poverty"><img src="https://img.icons8.com/color/120/000000/expired.png"><h5>Títol 11</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
<td><a href="http://www.globalgoals.org/2-zero-hunger"><img src="https://img.icons8.com/color/120/000000/leave.png"><h5>Títol 12</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
<td><a href="http://www.globalgoals.org/3-good-health-and-well-being"><img src="https://img.icons8.com/color/120/000000/task.png"><h5>Títol 13</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
</tr>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/4-quality-education"><img src="https://img.icons8.com/color/120/000000/request-service.png"><h5>Títol 21</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
<td><a href="http://www.globalgoals.org/5-gender-equality"><img src="https://img.icons8.com/color/120/000000/communication.png"><h5>Títol 22</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
<td><a href="http://www.globalgoals.org/6-clean-water-and-sanitation"><img src="https://img.icons8.com/color/120/000000/documents.png"><h5>Títol 23</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
</tr>\n\
<tr>\n\
<td><a href="http://www.globalgoals.org/7-affordable-and-clean-energy"><img src="https://img.icons8.com/color/120/000000/planner.png"><h5>Títol 31</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
<td><a href="http://www.globalgoals.org/8-decent-work-and-economic-growth"><img src="https://img.icons8.com/color/120/000000/collaboration-female-male.png"><h5>Títol 32</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
<td><a href="http://www.globalgoals.org/9-industry-innovation-and-infrastructure"><img src="https://img.icons8.com/color/120/000000/high-priority.png"><h5>Títol 33</h5></a><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt quam eu risus hendrerit finibus. Nam accumsan semper euismod. Sed eu justo erat. </p></td>\n\
</tr>\n\
</tbody>\n\
</table>',

                }


            },
            methods: {

                clean: function (event) {
                    this.taula_html = "";
                },
                select_taula_ex(event) {
                    this.taula_html = this.exemples[event.target.value];
                }

            },
            computed: {
                codi_html: function () {

                    var files = (this.taula_html.match(/<\s*tr[^>]*>/g) || []).length;
                    var columnes = (this.taula_html.match(/<\s*td[^>]*>/g) || []).length;
                    columnes = columnes / files;
                    var large_size = 12 / columnes;

                    console.log("files:" + files + ",columnes:" + columnes + ",size:" + large_size);

                    if (this.taula_html != "" && Number.isInteger(large_size) == false) {
                        return '<h5 style="color:red">Error en el format de la taula</h5>';
                    }

                    var converted_tbl = this.taula_html.replace(/<table(.*)>/gi, '');
                    converted_tbl = converted_tbl.replace(/<tbody>/gi, '');

                    converted_tbl = converted_tbl.replace(/<\s*tr[^>]*>/gi, '<div class="row">');
                    converted_tbl = converted_tbl.replace(/<\s*td[^>]*>/gi,
                        '\n<div class="small-12 large-' + large_size + ' ' + this.centered_content +
                        ' columns" ' + this.with_border + '>\n');
                    converted_tbl = converted_tbl.replace(/<\/td>/gi, '\n<\/div>');
                    converted_tbl = converted_tbl.replace(/<\/tr>/gi, '\n</div>\n');
                    converted_tbl = converted_tbl.replace(/<\/tbody>/gi, '');
                    converted_tbl = converted_tbl.replace(/<\/table>/gi, '');

                    return converted_tbl;

                },
                codi_html_f6: function () {
                    converted_tbl = this.codi_html.replace(/class="row"/gi, 'class="grid-x"');
                    converted_tbl = converted_tbl.replace(/small-12/gi, 'cell small-12');
                    return converted_tbl;
                },
                centered_content: function () {
                    var ret = '';
                    if (this.centered) {
                        ret = 'text-center';
                    }
                    return ret;
                }
            }
        })
    </script>

</body>

</html>